Source: ros-noetic-mscl-msgs
Section: misc
Priority: optional
Maintainer: TODO <todo@todo.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-message-generation, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-mscl-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-message-runtime, ros-noetic-std-msgs
Description: A package that contains ROS message corresponding to microstrain message types.
