Source: ros-noetic-ros-mscl
Section: misc
Priority: optional
Maintainer: Parker Hannifin Corp <sensing_support@lord.com>
Build-Depends: debhelper (>= 9.0.0), c++-mscl, ros-noetic-catkin, ros-noetic-cmake-modules, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-message-generation, ros-noetic-mscl-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-tf2, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros
Homepage: https://github.com/LORD-MicroStrain/ROS-MSCL
Standards-Version: 3.9.2

Package: ros-noetic-ros-mscl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, c++-mscl, ros-noetic-cmake-modules, ros-noetic-diagnostic-aggregator, ros-noetic-diagnostic-updater, ros-noetic-geometry-msgs, ros-noetic-message-runtime, ros-noetic-mscl-msgs, ros-noetic-nav-msgs, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs, ros-noetic-tf2, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-ros
Description: The ros_mscl package provides a driver for the LORD/Microstrain inertial products.
